/* Colocacion en el centro de la pagina de la Nintendo DS */
body {
    background-color: rgb(174, 255, 255);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cuerpo de la Nintendo DS entera */
.container {
    height: 78vh;
    width: 38vw;
}

.def {
    height: 37vh;
}

/* Estilos de la parte superior de la Nintendo DS */
#parteSuperior {
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Estilos de la PANTALLA superior de la Nintendo DS */
#pantallaSuperior {
    background-color: yellow;
    width: 21vw;
    height: 15vw;
}

/* Parte superior IZQUIERDA de la Nintendo DS*/
#superiorIzquierda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}


/* Estilos puntos altavoces arriba */
.punto {
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 100px;
}

/* parte superior DERECHA de la Nintendo DS */
#superiorDerecha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

/* Estilos de la union de la Nintendo DS */
#parteUnion {
    background-color: rgb(114, 114, 116);
    height: 5vh;
    display: flex;
    justify-content: center;
}

/* Estilos de la union IZQUIERDA de la Nintendo DS */
#unionIzquierda {
    background-color: rgb(10, 10, 10);
    width: 6vw;
}

/* Estilos de la union CENTRO de la Nintendo DS */
#unionCentro {
    background-color: rgb(83, 78, 71);
    width: 40vw;
}

/* Estilos de la union DERECHA de la Nintendo DS */
#unionDerecha {
    background-color: rgb(23, 24, 23);
    width: 6vw;
}

/* Estilos de la parte inferior de la Nintendo DS */
#parteInferior {
    background-color: grey;
    display: flex;
}

/* Estilos de la parte inferior IZQUIERDA de la Nintendo DS */
#inferiorIzquierda {
    background-color: grey;
    width: 10vw;
}

/* Estilos de la parte inferior CENTRO de la Nintendo DS */
#inferiorCentro {
    background-color: yellow;
    width: 24vw;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Estilos de la parte inferior DERECHA de la Nintendo DS */
#inferiorDerecha {
    background-color: grey;
    width: 10vw;
}